.conteudo-editor {
    width: 50%;
    @include for-tablet {
        width: 100%;
    }
    @include for-phone {
        width: 100%;
        margin: 0;
    }
} 
.preview {
    display: block;
    padding: 2rem 1rem;
    border-radius: 7px;
    height: 100%; 
    min-height: 300px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    border: none;
    line-height: 1.3;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
    &::before{
        content: '';
        width: 3.5rem;
        top:2.5rem;
        left: 2.6rem;
        height: 1rem;
        position: absolute;
        background-image: url("/src/static/images/mac_buttons.svg");
        background-repeat: no-repeat;
        background-size: 2.6rem;
        @include for-phone {
            top:2.4rem;
            left: 2.5rem;
        }
    }
}

.conteudo {
    
    &__editor{
        background: $preto;
        width: 100%;
        height: 100%;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        padding: 2rem;
        color: $cinza-claro;
        box-sizing: border-box;
        font-size: 1rem ;
    }
    &__container-bg{
        background-color: rgb(41, 139, 184);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 360px;
        padding: 2rem;
        border-radius: 8px;
        box-sizing: border-box;
        position: relative;
        text-decoration: none;
        @include for-phone {
            padding:1.7rem;
        }
    }
    &__btn{
        margin-top: 1.5rem;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 8px;
        border: none;
        background: $azul-input;
        color: $cinza-claro;
        transition: 0.35s ;
        &:hover{
           background: rgba(80, 129, 251, 0.16)
        }
        &:active{
            border: 4px solid rgba(80, 129, 251, 0.24);
            
        }
        &:focus{
            background: rgba(80, 129, 251, 0.16);
            box-shadow: none;
        }
    }

    .export {
        margin-top: 1rem;
        border-radius: 8px;
        background: $azul;
        width: 40%;
        min-width: 230px;
        display: flex;
        flex-wrap: wrap;
        @include for-phone {
            width: 100%
        }
        &__btn {
            @include botao;
            justify-content: center;
            align-items: center;
            &:first-child {
                flex-grow: 1;
            }
        }
        &__details{
            font-size: 0.9rem;
            padding: .2rem 1rem;
            width: 100%;
        }
        &__input{
            width: 45%;
            background: transparent;
            text-align: right;
            border: none;
            text-overflow: ellipsis;
            &::placeholder{
                color: $cinza036;
            }
        }
        &__campo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $cinza036;
            &:first-child {
                padding-bottom: 1rem;
            }
        }

        &__radio {
            opacity: 0;
            position: fixed;
            width: 0;
            &:checked + label{
                background: $cinza016;
                color: $preto;
                border: 1px solid $azul-background;
            }
            &:hover + label {
                background: $cinza08;
            }
        }
        &__label {
            background:$azul;
            padding: .3rem;
            border-radius: 4px;
            color: $cinza-claro;
        }
        
    }
}

