.header {
   
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__titulo {
        height: 2rem;
        width: 25%;
    }
    &__pesquisa {
        width: calc(50% - 4px);
    }
    &__input{
        @include input;
        &:hover{
            background-color:rgba(211, 211, 211, 0.24);
        }
    }
    &__input::placeholder{
        @include input-placeholder
    }

    .client {
        width: 25%;
        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: flex-end;
        }
        &__foto {
            border-radius: 50%;
            margin-right: 0.4rem;
        }
        &__nome {
            color: $cinza-claro;
            font-size: 1rem;
            font-weight: 300;
        }
    }
}
