.menu {
    width: 25%;

    &__titulo{
       @include h2-da-home
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item{
        opacity: 0.4;    
    }
    &__item--active{
        opacity: 1 ;
    }
    &__link{
        padding-top: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;

        &__icone{
            margin-right: 1rem;     
        }
        &__texto {
            color: $cinza-claro; 
        }

    }
  
}

