@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* input:focus, * textarea:focus, * select:focus {
  outline: none;
}

* {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}

* body::-webkit-scrollbar {
  display: none;
}

* body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/******* MEDIAS ********/
/******* Outros mixins ********/
body {
  background-color: #051d3b;
}

.container {
  height: fit-content;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1023.98px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    padding: 1.5rem;
  }
}

.main {
  display: flex;
  padding-top: 3rem;
}

@media screen and (max-width: 1023.98px) {
  .main {
    flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .main {
    padding-top: 2rem;
  }
}

.hide {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__titulo {
  height: 2rem;
  width: 25%;
}

@media screen and (max-width: 1023.98px) {
  .header__titulo {
    width: auto;
  }
}

.header__pesquisa {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1023.98px) {
  .header__pesquisa {
    width: 60%;
  }
}

@media screen and (max-width: 767.98px) {
  .header__pesquisa {
    display: 40%;
  }
}

.header__lupa {
  display: none;
  margin-right: 1rem;
}

@media screen and (max-width: 767.98px) {
  .header__lupa {
    display: inline-block;
  }
}

.header__input {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  width: 100%;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.header__input:hover, .header__input:focus {
  background-color: rgba(211, 211, 211, 0.24);
}

@media screen and (max-width: 767.98px) {
  .header__input {
    display: none;
  }
}

.header__input::placeholder {
  color: rgba(211, 211, 211, 0.534);
  text-indent: 1rem;
  box-sizing: border-box;
}

.header .client {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1023.98px) {
  .header .client {
    width: auto;
  }
}

.header .client__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  border-radius: 8px;
  padding: 0.5rem;
}

.header .client__link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 1023.98px) {
  .header .client__link {
    display: none;
  }
}

.header .client__foto {
  border-radius: 50%;
  margin-right: 0.4rem;
}

.header .client__nome {
  color: #eaeaeb;
  font-size: 1rem;
  font-weight: 300;
}

.menu {
  width: 25%;
}

@media screen and (max-width: 1023.98px) {
  .menu {
    display: none;
  }
}

.menu__titulo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #eaeaeb;
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
}

.menu__item {
  opacity: 0.40;
}

.menu__item:hover {
  opacity: 0.8;
}

.menu__item:active {
  opacity: 1;
}

.menu__item--active {
  opacity: 1;
}

.menu__link {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu__link__icone {
  margin-right: 1rem;
}

.menu__link__texto {
  color: #eaeaeb;
}

.conteudo {
  width: 50%;
}

@media screen and (max-width: 1023.98px) {
  .conteudo {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .conteudo {
    width: 100%;
    margin: 0;
  }
}

.conteudo__container-bg {
  background-color: #298bb8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 348px;
  padding: 2rem;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .conteudo__container-bg {
    padding: 1.7rem;
  }
}

.conteudo__textarea--wrapper {
  width: 100%;
  height: 100%;
}

.conteudo__textarea--wrapper::before {
  content: '';
  width: 3.5rem;
  top: 2.5rem;
  left: 2.6rem;
  height: 1rem;
  position: absolute;
  background-image: url("/src/static/images/mac_buttons.svg");
  background-repeat: no-repeat;
  background-size: 3rem;
}

@media screen and (max-width: 767.98px) {
  .conteudo__textarea--wrapper::before {
    top: 2.4rem;
    left: 2.5rem;
    background-size: 2.6rem;
  }
}

.conteudo__editor {
  background: #141414;
  width: 100%;
  height: 100%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 2rem;
  color: #eaeaeb;
  box-sizing: border-box;
  font-size: 1rem;
}

.conteudo__btn {
  margin-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(80, 129, 251, 0.08);
  color: #eaeaeb;
}

.conteudo__btn:hover {
  background: rgba(80, 129, 251, 0.16);
}

.conteudo__btn:active {
  border: 4px solid rgba(80, 129, 251, 0.24);
}

.conteudo__btn:focus {
  background: rgba(80, 129, 251, 0.16);
  box-shadow: none;
}

.menu-detalhes {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  padding-left: 2.5rem;
}

@media screen and (max-width: 1023.98px) {
  .menu-detalhes {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }
}

.menu-detalhes__titulo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #eaeaeb;
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.menu-detalhes .personalizacao-titulo {
  margin-top: 2.5rem;
}

.menu-detalhes__input {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  width: 100%;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.menu-detalhes__input:hover, .menu-detalhes__input:focus {
  background-color: rgba(211, 211, 211, 0.24);
}

.menu-detalhes__input::placeholder {
  color: rgba(211, 211, 211, 0.534);
  text-indent: 1rem;
  box-sizing: border-box;
}

.menu-detalhes__containerflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-detalhes__descricao {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
}

.menu-detalhes__personalizacao {
  margin-top: 2.5rem;
}

.menu-detalhes__select {
  padding: 0.75rem;
  color: rgba(211, 211, 211, 0.534);
}

@media screen and (max-width: 1023.98px) {
  .menu-detalhes__select {
    width: 49%;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-detalhes__select {
    width: 100%;
  }
}

.menu-detalhes__select__option {
  background-color: rgba(255, 255, 255, 0.16);
  color: #141414;
  font-size: 1rem;
}

.menu-detalhes__wrapper {
  height: 2.5rem;
  width: 100%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-detalhes .select-bg {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  padding: 0.4rem;
  border: 1px solid #eaeaeb;
  border-radius: 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023.98px) {
  .menu-detalhes .select-bg {
    width: 49%;
    margin-top: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-detalhes .select-bg {
    width: 100%;
    margin-top: 1rem;
  }
}

.menu-detalhes .select-bg__input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
}

.menu-detalhes .botao {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.58rem;
  background-color: #5081FB;
}

.menu-detalhes .botao:hover {
  background: #7BA4FC;
}

.menu-detalhes .botao:active {
  border: 4px solid #5081FB;
}

.menu-detalhes .botao:focus {
  background: #7BA4FC;
}

.header__hamburguer {
  display: none;
  border-radius: 8px;
  width: auto;
  min-width: 48px;
  height: auto;
}

.header__hamburguer:hover svg {
  background: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
}

.header__hamburguer:active {
  background: rgba(80, 129, 251, 0.08);
}

@media screen and (max-width: 1023.98px) {
  .header__hamburguer {
    display: flex;
  }
}

.hamburguer__nav {
  position: relative;
}

.menu__hamburguer {
  background: #2D415B;
  width: 200px;
  height: 500px;
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  right: -600%;
  top: 120%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  transition: right 200ms linear;
  z-index: 2;
}

.menu__open {
  right: 1%;
}

.overflow {
  overflow: hidden;
}

.hamburguer__client {
  width: 100%;
  position: relative;
  padding-top: 2rem;
  margin-top: 1rem;
  border-top: 1px solid #ffffff17;
}

.hamburguer__link {
  display: flex;
  align-items: center;
  margin-left: .4rem;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */