@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.container {
  background-color: #051D3B;
  height: 100vh;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
}

.main {
  display: flex;
  padding-top: 3rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__titulo {
  height: 2rem;
  width: 25%;
}

.header__pesquisa {
  width: calc(50% - 4px);
}

.header__input {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  width: 100%;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.header__input::placeholder {
  color: rgba(211, 211, 211, 0.534);
  text-indent: 1rem;
  box-sizing: border-box;
}

.header .client {
  width: 25%;
}

.header .client__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: flex-end;
}

.header .client__foto {
  border-radius: 50%;
  margin-right: 0.4rem;
}

.header .client__nome {
  color: #eaeaeb;
  font-size: 1rem;
  font-weight: 300;
}

.menu {
  width: 25%;
}

.menu__titulo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #eaeaeb;
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
}

.menu__item {
  opacity: 0.4;
}

.menu__item--active {
  opacity: 1;
}

.menu__link {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu__link__icone {
  margin-right: 1rem;
}

.menu__link__texto {
  color: #eaeaeb;
}

.conteudo {
  width: 50%;
}

.conteudo__container-bd {
  background-color: #298bb8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 348px;
  padding: 2rem;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.conteudo__container-bd::after {
  content: '';
  width: 3.5rem;
  top: 83%;
  left: 8.5%;
  height: 1rem;
  position: absolute;
  background-image: url("/src/static/images/mac_buttons.svg");
  background-repeat: no-repeat;
}

.conteudo__editor {
  background: #141414;
  width: 100%;
  height: 100%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  font-family: 'Roboto Mono';
  padding: 1rem;
  color: #eaeaeb;
  box-sizing: border-box;
  font-size: 1rem;
}

.conteudo__btn {
  margin-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  background: rgba(80, 129, 251, 0.08);
  color: #eaeaeb;
}

.menu-detalhes {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  padding-left: 2.5rem;
}

.menu-detalhes__titulo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #eaeaeb;
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.menu-detalhes__input {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  width: 100%;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.menu-detalhes__input::placeholder {
  color: rgba(211, 211, 211, 0.534);
  text-indent: 1rem;
  box-sizing: border-box;
}

.menu-detalhes__descricao {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
}

.menu-detalhes__personalizacao {
  margin-top: 2.5rem;
}

.menu-detalhes__select {
  padding: 0.75rem;
}

.menu-detalhes__container {
  height: 2.5rem;
  width: 100%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-detalhes .select-bd {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  padding: 0.4rem;
  border: 1px solid #eaeaeb;
  border-radius: 8px;
  box-sizing: border-box;
}

.menu-detalhes .select-bd__select {
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  border: none;
  box-sizing: border-box;
  line-height: 2.5rem;
  appearance: none;
}

.menu-detalhes .select-bd__verde {
  background-color: lightgreen;
}

.menu-detalhes .select-bd__vermelho {
  background-color: #8b3838;
}
/*# sourceMappingURL=main.css.map */